<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>views/index.html</h1>
    <div>여러분 제작한 포폴 메인페이지</div>

    <h1>user</h1>
    <input type="text" id="user_name">
    <button id="user_name_btn">user 확인</button>
    <div class="log_user">

    </div>

    <h1>users</h1>
    <button id="users_btn">user 확인</button>
    <div class="log_users">

    </div>
    <script>
        const unb = document.querySelector('#user_name_btn');
        unb.addEventListener('click', ()=>{
            const user_name = document.querySelector('#user_name');
            const value = user_name.value; 
            
            // console.log(value);
            const user_api = `http://localhost:3000/name/last_name=${value}`;
            fetch(user_api)
            .then( res=>res.json())
            .then( res=>{
               // console.log( res )
               const log_user = document.querySelector('.log_user');
               log_user.innerHTML = `first_name : ${res.first_name}, last_name ${res.last_name}`
               user_name.value = '';
            })
        })
    </script>
    <script>
        // localhost:3000/users
        const users_btn = document.querySelector('#users_btn');
        users_btn.addEventListener('click', ()=>{
            
            const user_api = `http://localhost:3000/users`;
            fetch(user_api)
            .then( res=>res.json())
            .then( res=>{
               // console.log( res.length )
               // const str = `이름 : ${res.first_name}, 성 : ${res.last_name}` 
               let str = ``;
               
               res.forEach( data=>{
                    str += `<div> 이름 : ${data.first_name}, 성 : ${data.last_name} </div>` 
               })

               document.querySelector('.log_users').innerHTML =  str;
            })
        })
    </script>
</body>
</html>